{% extends 'base.html' %}

{% load static %}

{% block codigoDinamico %}

<div class="container px-5 my-5">
    <form action="" method="get">
        <input type="text" name="email", id="email">
        <input type="submit" value="Buscar"> 
    
        {% if suscriptores %}
    
            <ul>
                {% for suscriptor in suscriptores %}
                <li>El suscriptor de nombre: {{suscriptor.nombre}} {{suscriptor.apellido}} con correo {{suscriptor.email}} y cumpleaños {{suscriptor.birthday}} </li>
            
                {% endfor %}
            </ul>
    
            
        
        {% else %}
            <p>No hay datos.</p>
    
        {% endif %}
    </form>

   
</div>
<!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->


{%endblock%}